<h2> <a href="<%= post_url(@post) %>"><%= @post.title %></a>
by <%= User.find(@post.author_id).username %> </h2>

Content:
<%= @post.content %>
<br>
Subs:

<ul>
<% @post.subs.each do |sub| %>
  <li><a href="<%= sub_url(sub) %>"><%= Sub.find(sub.id).title%></a></li>
<% end %>
</ul>