<h1><%= @sub.title %></h1>

<h3>Description </h3>
<%= @sub.description %>
<br>

<ul>
<% @sub.posts.each do |post| %>
    <li> <a href="<%= post_url(post) %>"><%= post.title %></a></li>
<% end %>
</ul>

<form class="" action="<%= new_post_url %>" method="post">
  <input type="hidden" name="_method" value="get">
  <input type="submit" name="" value="Make New Post!">
</form>